*{
    color: #0E2954;
}
.container{
    width:100%;
    margin:auto;
    text-align: center;
    font-family: 'Gluten', cursive;
}
@media only screen and (max-width: 800px) {
 .mid{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2{
    font-size: 2.5rem;
    text-align: center;
}
body{
    width: 100%;
    background-image: linear-gradient(135deg, #92FFC0 10%, #002661 100%);
}
h1{
    text-align: center;
    font-size: 6rem;
    color: B31312;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px #526D82;
}
p{
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
img{
    width:70%
}
footer{
    text-align: center;
    margin-top: 20px;
    font-family: 'Gluten', cursive;
    font-size: 1rem;
    font-weight: bold;
}
.cls{
    margin-top: 20px ;
}
.bottom{
    padding-top: 35px; 
}
.btn{
    background-image: linear-gradient(135deg, #13547a 10%, #80d0c7 100%);    color: #192655;
    font-size: 40px;
    border-radius: 30px;
    font-family: 'Gluten', cursive;
    padding: 10px 20px 10px 20px; 
    text-decoration: none; 
    border: 10px;
}
.btn:hover { 
    background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%);
    text-decoration: none; 
    color: #EAD7BB;
} 
